@import url(normalize.css);
body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.game_zone {
  width: 1200px;
  height: 800px;
  background-color: grey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  &__div {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    background-size: contain;
  }
}
.scoreboard {
  width: 300px;
  height: 200px;
  border: 1px solid red;
}
.taupe {
  background-image: url(/img/80967207.jpeg);
}
